@model IEnumerable<Sanitario.Models.Dipendente>

@{
    ViewData["Title"] = "Index";
}




<div class="w-50">
    <div class="d-flex justify-content-between align-items-baseline">

        <h1>Dipendenti</h1>
        <p class="text-end">
            <a class="btn btn-transparent " asp-action="Create"><i class="bi bi-plus-circle fs-3 primaryText"></i></a>
        </p>
    </div>

    <div class="blurredWhite rounded p-2 shadow" style="max-height: 450px; overflow-y: auto">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Ruolo)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td >
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Ruolo)
                        </td>
                        <td class="text-end">
                            <a class="btn btn-transparent" asp-action="Edit" asp-route-id="@item.IdDipendente"><i class="bi bi-pencil fs-5 text-success"></i></a>
                            <a class="btn btn-transparent" asp-action="Delete" asp-route-id="@item.IdDipendente"><i class="bi bi-trash fs-5 text-danger"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>

